<div id="copyright" xmlns:cc="http://creativecommons.org/ns#">
  This blog by <a href="<%="http://#{@blog.canonical_url}"%>" property="cc:attributionName" rel="cc:attributionURL">Ric Roberts</a> is licensed under a <a href="http://creativecommons.org/licenses/by/3.0/" rel="cc:license">Creative Commons Attribution 3.0 Licence</a>. Powered by <a href="http://www.swirrl.com">Swirrl</a>'s <em><a href="http://github.com/Swirrl/SemanticJournal">SemanticJournal</a></em> blog engine.
</div>