<div id="masthead">
	<div class="grid_8">
  	<h1><a href="/">RIC ROBERTS</a></h1>
	  <div id="strapline">Web Developer and founder of Swirrl.com</div>
	</div>
	<div class="grid_4">
	  <div id="subscribe">
		  <a href="http://feeds2.feedburner.com/richtext">
			Subscribe to Feed
			<img src="http://ricroberts.s3.amazonaws.com/feed-icon-14x14.png" alt="subscribe" style="display:inline;"/>
			</a>
		</div>		
	</div>
</div>