<div class="grid_4 sidebar"> 
	
	<div id="site_search" class="sidebar_entry">
		<h3>Search this site</h3>
		<form action="http://www.google.com/search" method="get">
			<div>
        <input name="sitesearch" type="hidden" value="ricroberts.com" />
        <input class="text" name="q" type="text" size="24" />
        <input class="button" type="submit" value="Google" /> 
      </div>
    </form>
	</div>
	
	
	<div id="about_me" class="sidebar_entry">
		<h3>About me</h3>
		<img alt="me" src="http://ricroberts.s3.amazonaws.com/sepia_me_small.png"/>
		
		I co-founded, built, and run
		<a href="http://www.swirrl.com">Swirrl</a>, a hosted wiki service. I also work at digital agency,
		<a href="http://www.stardotstar.com">Stardotstar</a>
		as a web developer on projects for public and private sectors.
		<br/>
		<br/>
		This is my personal blog, where I write mainly about my adventures in code, but I write for a few other blogs too, including
		<a href="http://www.rubyinside.com">Ruby Inside</a>
		and
		<a href="http://dailyjs.com">DailyJS</a>
		(scroll down the sidebar for more details).
		<br/><br/>
		<a href="http://feeds2.feedburner.com/richtext"><img width="88" height="26" alt="" style="border: 0pt none;" src="http://feeds.feedburner.com/~fc/RichText?bg=A0A0A0&amp;fg=000000&amp;anim=0"/>
		</a>

	</div>

	<div id="about_swirrl" class="sidebar_entry">
		<h3>My Company</h3>
		<a href="http://www.swirrl.com"><img src="http://ricroberts.s3.amazonaws.com/swirrl_small_transp.png" alt="Swirrl" /></a><br/>
		As well as our <a href="http://www.swirrl.com/">hosted wiki</a> application, Swirrl now offers <a href="http://www.swirrl.com/services">consultancy</a> on applying semantic web technologies.
	</div>

	<div id="contact" class="sidebar_entry">
		<h3>Contact</h3>
		Email: <a href="mailto:hello@ricroberts.com">hello@ricroberts.com</a><br/>
		Twitter: <a href="http://twitter.com/ricroberts">RicRoberts</a><br/>
	</div>
	
	<div id="projects" class="sidebar_entry">
		<h3>Projects</h3>
		<h4>Swirrl</h4>
		<a href="http://www.swirrl.com">Swirrl</a> is an easy to use, yet powerful, hosted wiki service.  It has all the features you'd expect from a wiki, plus powerful database-like features to help you organise your information.
		<h4>SemanticJournal</h4>
		The open-source, SemanticWeb-enabled, CouchDB+Rails blog engine which powers this site. <a href="http://github.com/Swirrl/SemanticJournal">Code and docs are on Github</a>.
		<h4>grrid.js</h4>
		Originally written for use in Swirrl, <a href="http://www.grridjs.org">grrid.js</a> is an open source, pure
		javascript spreadsheet style grid, built on Prototype.js. Download the source from <a href="http://github.com/Swirrl/grrid/tree/master">GitHub</a>.
		<h4>Taskit</h4>
		<a href="http://github.com/Swirrl/taskit/tree/master">Taskit</a> is a plugin to allow you to schedule simple tasks for your rails app.  Download the source from <a href="http://github.com/Swirrl/taskit/tree/master">GitHub</a>.
	</div>
	
	<div id="other_blogs" class="sidebar_entry">
		<h3>Other Blogs</h3>
		<a href="http://dailyjs.com"><img alt="DailyJS" src="http://ricroberts.s3.amazonaws.com/djs.gif" /></a>
		<a href="http://dailyJS.com">DailyJS</a> is a technically-oriented blog about javascript edited by <a href="http://alexyoung.org">Alex Young</a> and me.
		<br/><br/>
		<a href="http://blog.swirrl.com"><img alt="SwirrlSpeak" src="http://ricroberts.s3.amazonaws.com/swirrl_logo_only40.jpg" /></a>
		<a href="http://blog.swirrl.com">SwirrlSpeak</a> is Swirrl's blog. We post articles about business, the web, collaboration, Swirrl, and anything else we think you'll find interesting.
		<br/><br/>
		<a href="http://www.webofdatablog.com"><img alt="web of data blog" src="http://ricroberts.s3.amazonaws.com/semantic.jpg" /></a> Please check out the <a href="http://www.webofdatablog.com/">Web of Data Blog</a>. Bill, my Swirrl co-founder, writes about about how and why you should publish data on the web, in a way that lets machines read it as well as people.
		<br/><br/>
		<a href="http://www.rubyinside.com"><img alt="RubyInside" src="http://ricroberts.s3.amazonaws.com/rubyinside.jpg" /></a>
		I sometimes blog over at <a href="http://www.rubyinside.com">Ruby Inside</a> with Ruby news, code links and tips.
	</div>

</div>