<div id="twitter">
	<span id="tweet"><a href="http://twitter.com/ricroberts">@RicRoberts</a> on Twitter: My latest tweet should appear here. If you can read this, it means Twitter is down or being slow.</span>
</div>